
/*@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300&family=Maven+Pro&display=swap');*/
@import url('link href="https://fonts.googleapis.com/css2?family=Anybody:wght@300&family=Arvo&family=Dosis&family=Maven+Pro&display=swap" rel="stylesheet"');
/* colors: */
:root {
     /* change the values below to your colors from your palette */
    --primary-color: #0A0A0A;
    --secondary-color: #010C05;
    --accent1-color: #95400C;
    --accent2-color: #626060;
  
    /* Fonts */
    --heading-font: "Anybody"; 
    --paragraph-font: "Maven Pro", Arvo, Dosis;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #0A0A0A;  /* headlines on a white background */ 
    --headline-color-on-color: #95400C; /* headlines on a colored background */ 
    --paragraph-color-on-white: #0A0A0A; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #95400C; /* paragraph text on a colored background */ 
    --paragraph-background-color: #0A0A0A;
    --nav-link-color: #95400C;
    --nav-background-color: #010C05;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0A0A0A;
  }



#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img{
    /* Position and center the image to scale nicely on all screens */
    width: 100%;
  }
  
#hero-msg h1 {
    color: var(--headline-color-on-color);
    text-align: center;
}
#hero-msg h4 {
    color: var(--headline-color-on-color);
    text-align: center;
}
.button-box {
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
.mountain-card {
    margin-left: 0;
}
#background{
    color: var(--accent2-color);
    height: 725px;
}
body {
    background-color:var(--primary-color); 
    color: var(--headline-color-on-color);
    font: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--secondary-color);
    color: var(--headline-color-on-color);

/* -----------------------  */    
}
nav a{
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    padding:.25em;
    min-width: 120px; 
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    
}
.home-title{
    font-family: var(--heading-font);
    font-size: 2em;
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    margin-top: 10px;
}
h4{
    color: var(--headline-color-on-color);
}
h2{
    margin: 0;
}
.book{
    color: var(--nav-background-color);
    background-color: var(--nav-link-color);   
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.join:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.msg{
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: var(--nav-link-color);
    background-color: var(--primary-color);
}
.msg p{
    color: var(--nav-link-color);
    background-color: var(--primary-color);
    padding-bottom: 15px;
    font-size: .8em;
}
footer{
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
}
footer.social img{
    padding-top: 15px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: var(--paragraph-color-on-color);
    background-color: var(--primary-color);
    text-decoration: none;
}
footer a:hover{
    color: var(--nav-hover-link-color);
background-color: var(--nav-hover-background-color);
}

/* -----------------------  Cards -------------*/    
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #d9c2a3;
}

/* -----------------------  */    

#logo_link{
    padding-top: 5px;
}
.logo{
    width: 80px;
}

#background{
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-color);
}
 


.icon {
    width: 80px;
    padding-top: 10px;
}