:root {
    /* change the values below to your colors from your palette */
    --primary-color: #666666   ;
    --secondary-color: #3CA482 ;
    --accent1-color: #000100;
    --accent2-color: #999999;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Verdana, Tahoma;
    --paragraph-font: Trebuchet, Tahoma, Verdana;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #000100;  /* headlines on a white background */ 
    --headline-color-on-color: #3CA482; /* headlines on a colored background */ 
    --paragraph-color-on-white: #000100; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #000100; /* paragraph text on a colored background */ 
    --paragraph-background-color: #666666  ;
    --nav-link-color: #000100;
    --nav-background-color: #3CA482;
    --nav-hover-link-color: #999999;
    --nav-hover-background-color: #000100;
  }

#content {
    max-width: 1600px; 
    margin: 0 auto;
}

#greenery {
    display: grid;
    grid-template-columns: 150px 3fr 150px;
    margin-top: -350px;
}
#greenery-img{
    /* Position and center the image to scale nicely on all screens grandchild of above*/
    width: 100%;
    max-height: 600px;
    
  }
#greenery-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}  

/* fix update? */
/*------------NAV----------*/
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
    border: 1px;
    border-color: #000100;
    font-size: 40px;
    font-weight: bold;
}
nav a:hover{
    padding: 10px;
    min-width: 120px; 
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}




#history-title h1 {
    color: var(--headline-color-on-color);
    text-align: center;
   
}
/* -----------------------  */
.home-grid{
    display: grid;
    grid-template-columns: 1fr;
    
    margin-right: 150px;
    padding:  10px;
    /*grid-template-rows: repeat(10, 1fr); */  /*  This row causes things to not align properly, because the rows are declared in each class and method. */
    float: left;
    float: right;
    justify-content: center;
}


.history-card{
    max-width: 1200px;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: justify;
    margin: auto;
    justify-self: center; /* center horizontally */
    align-self: center; /* center vertically */
    float: left;
}

/* .ninja_history{
    float: left;  
 } */

 .history-card img{
    /* grid-column: 3/4; */
    float: right;
    padding: 10px;
    /* max-width: auto; */
    max-height: 50%;
}


.grass-card{
    max-width: 1200px;
    grid-column: 1/3;
    grid-row: 2/4;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto); */
    padding: 5px;
    margin: auto;
    
}
.grass-card .h2{
    grid-row-start: 1;
    grid-column: 1/3;
    margin: auto;
}
.grass-card img{
    display: flex;
    /* width: 1200px;
    height: 400px; */
    padding: 10px;
    max-width: 48%;
    /* max-height: auto; */
}
.grass-card p{
    grid-row: 2/3;
    text-align: justify;
}
.box{
    max-width: 1200px;
    height: auto;
}
.ninja_history{
    grid-column: 1/3;
    grid-row: 2/3;
}
.shoryu{
    max-width: 45%;
    grid-column: 1/2;
    grid-row: 3/4;
    float: left;
    margin: 5px;

}
.training{
    max-width: 45%;
    grid-column: 2/3;
    grid-row: 3/4;    
    float: right;
    margin: 5px;
}

/*-----logo---------*/
   
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 120px;
}

#background{
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-color);
} 


/* -----------------------  */ 


.nin_title{
    font-size: 4em;
    color: #3CA482;
    text-decoration:underline;
    text-decoration-color: #666666;
}

#hero-msg h4 {
    color: white;
    text-align: center;
    outline: #010C05;
}
.button-box {
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
/*.mountain-card {
    margin-left: 0;
} */
#background{    
    color: var(--accent2-color);
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}


body {
    background-color:var(--primary-color); 
    color: var(--headline-color-on-color);
    font: var(--paragraph-font);
    font-size: 22px;
    margin: auto;
    /* padding: 0; */
    align-content: center;
}
header {
    background-color: var(--secondary-color);
    opacity: 0.75;
    color: var(--headline-color-on-color);
    display: grid;
    grid-template-columns: 150px auto;

/* -----------------------  */    
}




h4{
    color: var(--headline-color-on-color);
}


/* -------footer----------------  */
.container::after {
    content: "";
    display: table;
    clear: both;
}
footer{
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: left; */
    
    
}
footer.social img{
    
    padding-top: 15px;

}
footer p{
    font-size: 1.0em;
    color: #000100;
    text-align: left;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: var(--paragraph-color-on-color);
    background-color: var(--primary-color);
    text-decoration: none;
}
footer a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}




#iaido-title h1 {
    color: var(--headline-color-on-color);
    text-align: center;
}

.iaido-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 150px;
    padding:  10px;
    float: left;
    float: right;
    justify-content: center;
}
.haso-card{
    max-width: 1200px;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: justify;
    margin: auto;
    justify-self: center; /* center horizontally */
    align-self: center; /* center vertically */
    float: left;
}
 .haso-card img{
    /* grid-column: 3/4; */
    float: right;
    padding: 10px;
    /* max-width: auto; */
    max-height: 50%;
 }

 .sword-card{
    max-width: 1200px;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: justify;
    margin: auto;
    justify-self: center; /* center horizontally */
    align-self: center; /* center vertically */
    float: left;
    float: right
}

/*  .sword-card img{
    grid-column: 1/2;
    /* float: right; 
    padding: 10px;
    max-width: auto;
    max-height: 50%;
 } */



.sword-card .swords{
    grid-column: 1/2;
    grid-row: 1/2;
    
        
}
.sword-card .armor {
    grid-column: 2/3;
    grid-row-start: 1;
    padding-right: 10px;
}
.sword-card p{
    grid-column: 1/2;
    grid-row: 2/3;
    float: left;
}